
<div id="footer" class="color-div">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="widget">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="widget">
                    <h4 class="widget-title">Thông tin</h4>
                    <div>
                        <ul>
                            <li><a href="Javascript:void(0)"><i class="fa fa-chevron-right"></i> Về chúng tôi</a></li>
                            <li><a href="Javascript:void(0)"><i class="fa fa-chevron-right"></i> Giới thiệu</a></li>
                            <li><a href="Javascript:void(0)"><i class="fa fa-chevron-right"></i> Chính sách bảo mật</a></li>
                            <li><a href="Javascript:void(0)"><i class="fa fa-chevron-right"></i> Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-10">
                    <div class="widget">
                        <h4 class="widget-title">Liên hệ</h4>
                        <div>
                            <div class="contact-info">
                                <i class="fa fa-map-marker"></i>
                                <p>Quốc Tuấn - Đại học công nghệ thông tin - KP6 - Linh Trung - Thủ Đức - TP HCM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h4 class="widget-title">Đăng ký nhận tin</h4>
                    <input type="email" id="nhantin" name="email" placeholder="Nhập email...">
                    <button class="pull-right" onclick="getNews($('#nhantin').val())">Đăng ký<i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div> <!-- .row -->
    </div> <!-- .container -->
</div> <!-- #footer -->
<div class="copyright">
    <div class="container">
        <p class="pull-left">Privacy policy. (&copy;) 2014 | Redesign by Quốc Tuấn</p>
        <p class="pull-right pay-options">
            <a href="#"><img src="assets/dest/images/pay/master.jpg" alt="" /></a>
            <a href="#"><img src="assets/dest/images/pay/pay.jpg" alt="" /></a>
            <a href="#"><img src="assets/dest/images/pay/visa.jpg" alt="" /></a>
            <a href="#"><img src="assets/dest/images/pay/paypal.jpg" alt="" /></a>
        </p>
        <div class="clearfix"></div>
    </div> <!-- .container -->
</div> <!-- .copyright -->